In [15]:
import csv
import pandas as pd
from sklearn.metrics import confusion_matrix

dog_cat_df = pd.DataFrame({
    'prep dog': [46, 13],
    'prep cat': [7,34]
},index=['actual dog','actual cat'])
dog_cat_df

            prep dog  prep cat
actual dog        46         7
actual cat        13        34

In [12]:
# The false positive is dog
# the false negative is cat

In [59]:
TP=46
FP=7
FN=13
TN=34
print("The model's True Positive is", TP, "Themodel's False Positive is",FP, "The model's True Negative is",TN, "The model's False Negative is", FN)

The model's True Positive is 46 Themodel's False Positive is 7 The model's True Negative is 34 The model's False Negative is 13

In [70]:
print('The accuracy of the model is', (TP+TN)/(TP+FP+FN+TN)),
print('The precision of the model is', (round((TP)/(TP+FP),2))),
print('The recall of the model is', (round(TP/(TP+FN),2)))

The accuracy of the model is 0.8
The precision of the model is 0.87
The recall of the model is 0.78

In [82]:
defect_df=pd.read_csv('c3.csv')

In [83]:
defect_df.actual.value_counts()

No Defect    184
Defect        16
Name: actual, dtype: int64

In [96]:
defect_num=defect_df[defect_df.actual=='Defect']
defect_num

     actual     model1     model2     model3 baseline
13   Defect  No Defect     Defect     Defect   Defect
30   Defect     Defect  No Defect     Defect   Defect
65   Defect     Defect     Defect     Defect   Defect
70   Defect     Defect     Defect     Defect   Defect
74   Defect  No Defect  No Defect     Defect   Defect
87   Defect  No Defect     Defect     Defect   Defect
118  Defect  No Defect     Defect  No Defect   Defect
135  Defect     Defect  No Defect     Defect   Defect
140  Defect  No Defect     Defect     Defect   Defect
147  Defect     Defect  No Defect     Defect   Defect
163  Defect     Defect     Defect     Defect   Defect
171  Defect  No Defect     Defect     Defect   Defect
176  Defect  No Defect     Defect     Defect   Defect
186  Defect  No Defect  No Defect  No Defect   Defect
194  Defect     Defect  No Defect     Defect   Defect
196  Defect     Defect  No Defect  No Defect   Defect

In [103]:
defect_model1_recall=(defect_num.actual==defect_num.model1).mean()

In [104]:
defect_model1_recall

0.5

In [105]:
defect_model2_recall=(defect_num.actual==defect_num.model2).mean()

In [106]:
defect_model2_recall

0.5625

In [107]:
defect_model3_recall=(defect_num.actual==defect_num.model3).mean()

In [108]:
defect_model3_recall

0.8125

In [109]:
# precision=TP/(TP+FP)

In [121]:
model_1pre=defect_df[defect_df.model1=='Defect']
model1_recall=(model_1pre.model1==model_1pre.actual).mean()
model1_recall

0.8

In [122]:
model_2pre=defect_df[defect_df.model2=='Defect']
model2_recall=(model_2pre.model2==model_2pre.actual).mean()
model2_recall

0.1

In [124]:
model_3pre=defect_df[defect_df.model3=='Defect']
model3_recall=(model_3pre.model3==model_3pre.actual).mean()
model3_recall

0.13131313131313133

In [152]:
dogcat=pd.read_csv('gives_you_paws.csv')

In [153]:
dogcat.mode()

  actual model1 model2 model3 model4
0    dog    dog    cat    dog    dog

In [154]:
dogcat['baseline']='dog'

In [155]:
# accuracy=TP+TN/All

In [157]:
accuracy = []

for model in dogcat.columns[1:]:
    acc = (dogcat.actual == dogcat[model]).mean()
    accuracy.append([model, acc])

accuracy

[['model1', 0.8074],
 ['model2', 0.6304],
 ['model3', 0.5096],
 ['model4', 0.7426],
 ['baseline', 0.6508]]

In [175]:
precision=[]

for model in dogcat.columns[1:]:
    acc = (dogcat[dogcat[model]=='dog'])
    pre=(acc.actual==acc[model]).mean()
    precision.append([model, pre])
precision

[['model1', 0.8900238338440586],
 ['model2', 0.8931767337807607],
 ['model3', 0.6598883572567783],
 ['model4', 0.7312485304490948],
 ['baseline', 0.6508]]

In [177]:
precision=[]

for model in dogcat.columns[1:]:
    acc = (dogcat[dogcat[model]=='cat'])
    pre=(acc.actual==acc[model]).mean()
    precision.append([model, pre])
precision

[['model1', 0.6897721764420747],
 ['model2', 0.4841220423412204],
 ['model3', 0.358346709470305],
 ['model4', 0.8072289156626506],
 ['baseline', nan]]