In [31]:
import csv
import pandas as pd
from sklearn.metrics import confusion_matrix

dog_cat_df = pd.DataFrame({
    'prep dog': [46, 13],
    'prep cat': [7,34]
},index=['actual dog','actual cat'])
dog_cat_df

            prep dog  prep cat
actual dog        46         7
actual cat        13        34

In [2]:
# The false positive is dog
# the false negative is cat

In [3]:
TP=46
FP=7
FN=13
TN=34
print("The model's True Positive is", TP, "Themodel's False Positive is",FP, "The model's True Negative is",TN, "The model's False Negative is", FN)

The model's True Positive is 46 Themodel's False Positive is 7 The model's True Negative is 34 The model's False Negative is 13

In [4]:
print('The accuracy of the model is', (TP+TN)/(TP+FP+FN+TN)),
print('The precision of the model is', (round((TP)/(TP+FP),2))),
print('The recall of the model is', (round(TP/(TP+FN),2)))

The accuracy of the model is 0.8
The precision of the model is 0.87
The recall of the model is 0.78

In [5]:
# problem3
defect_df=pd.read_csv('c3.csv')

In [6]:
defect_df.actual.value_counts()

No Defect    184
Defect        16
Name: actual, dtype: int64

In [7]:
defect_num=defect_df[defect_df.actual=='Defect']
defect_num

     actual     model1     model2     model3
13   Defect  No Defect     Defect     Defect
30   Defect     Defect  No Defect     Defect
65   Defect     Defect     Defect     Defect
70   Defect     Defect     Defect     Defect
74   Defect  No Defect  No Defect     Defect
87   Defect  No Defect     Defect     Defect
118  Defect  No Defect     Defect  No Defect
135  Defect     Defect  No Defect     Defect
140  Defect  No Defect     Defect     Defect
147  Defect     Defect  No Defect     Defect
163  Defect     Defect     Defect     Defect
171  Defect  No Defect     Defect     Defect
176  Defect  No Defect     Defect     Defect
186  Defect  No Defect  No Defect  No Defect
194  Defect     Defect  No Defect     Defect
196  Defect     Defect  No Defect  No Defect

In [8]:
defect_model1_recall=(defect_num.actual==defect_num.model1).mean()

In [9]:
defect_model1_recall

0.5

In [10]:
defect_model2_recall=(defect_num.actual==defect_num.model2).mean()

In [11]:
defect_model2_recall

0.5625

In [12]:
defect_model3_recall=(defect_num.actual==defect_num.model3).mean()

In [13]:
defect_model3_recall

0.8125

In [14]:
# precision=TP/(TP+FP)

In [15]:
model_1pre=defect_df[defect_df.model1=='Defect']
model1_recall=(model_1pre.model1==model_1pre.actual).mean()
model1_recall

0.8

In [16]:
model_2pre=defect_df[defect_df.model2=='Defect']
model2_recall=(model_2pre.model2==model_2pre.actual).mean()
model2_recall

0.1

In [17]:
model_3pre=defect_df[defect_df.model3=='Defect']
model3_recall=(model_3pre.model3==model_3pre.actual).mean()
model3_recall

0.13131313131313133

In [25]:
# problem4
dogcat=pd.read_csv('gives_you_paws.csv')

In [19]:
dogcat.mode()

  actual model1 model2 model3 model4
0    dog    dog    cat    dog    dog

In [20]:
dogcat['baseline']='dog'

In [21]:
# accuracy=TP+TN/All

In [22]:
accuracy = []

for model in dogcat.columns[1:]:
    acc = (dogcat.actual == dogcat[model]).mean()
    accuracy.append([model, acc])

accuracy

[['model1', 0.8074],
 ['model2', 0.6304],
 ['model3', 0.5096],
 ['model4', 0.7426],
 ['baseline', 0.6508]]

In [23]:
precision=[]

for model in dogcat.columns[1:]:
    acc = (dogcat[dogcat[model]=='dog'])
    pre=(acc.actual==acc[model]).mean()
    precision.append([model, pre])
precision

[['model1', 0.8900238338440586],
 ['model2', 0.8931767337807607],
 ['model3', 0.6598883572567783],
 ['model4', 0.7312485304490948],
 ['baseline', 0.6508]]

In [24]:
precision=[]

for model in dogcat.columns[1:]:
    acc = (dogcat[dogcat[model]=='cat'])
    pre=(acc.actual==acc[model]).mean()
    precision.append([model, pre])
precision

[['model1', 0.6897721764420747],
 ['model2', 0.4841220423412204],
 ['model3', 0.358346709470305],
 ['model4', 0.8072289156626506],
 ['baseline', nan]]

In [56]:
# problem5
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score
from sklearn.metrics import recall_score
from sklearn.metrics import precision_score

In [54]:
accuracy_score(dogcat.actual,dogcat.model1)

0.8074

In [47]:
print('model 1')
pd.DataFrame(classification_report(dogcat.actual, dogcat.model1, 
                      labels=['cat','dog'],
                      output_dict=True))

model 1

                   cat          dog  accuracy    macro avg  weighted avg
precision     0.689772     0.890024    0.8074     0.789898      0.820096
recall        0.815006     0.803319    0.8074     0.809162      0.807400
f1-score      0.747178     0.844452    0.8074     0.795815      0.810484
support    1746.000000  3254.000000    0.8074  5000.000000   5000.000000

In [48]:
print('model 2')
pd.DataFrame(classification_report(dogcat.actual, dogcat.model2, 
                      labels=['cat','dog'],
                      output_dict=True))

model 2

                   cat          dog  accuracy    macro avg  weighted avg
precision     0.484122     0.893177    0.6304     0.688649      0.750335
recall        0.890607     0.490781    0.6304     0.690694      0.630400
f1-score      0.627269     0.633479    0.6304     0.630374      0.631310
support    1746.000000  3254.000000    0.6304  5000.000000   5000.000000

In [57]:
print('model 3')
pd.DataFrame(classification_report(dogcat.actual, dogcat.model3, 
                      labels=['cat','dog'],
                      output_dict=True))

model 3

                   cat          dog  accuracy    macro avg  weighted avg
precision     0.358347     0.659888    0.5096     0.509118      0.554590
recall        0.511455     0.508605    0.5096     0.510030      0.509600
f1-score      0.421425     0.574453    0.5096     0.497939      0.521016
support    1746.000000  3254.000000    0.5096  5000.000000   5000.000000

In [58]:
print('model 4')
pd.DataFrame(classification_report(dogcat.actual, dogcat.model4, 
                      labels=['cat','dog'],
                      output_dict=True))

model 4

                   cat          dog  accuracy    macro avg  weighted avg
precision     0.807229     0.731249    0.7426     0.769239      0.757781
recall        0.345361     0.955747    0.7426     0.650554      0.742600
f1-score      0.483755     0.828560    0.7426     0.656157      0.708154
support    1746.000000  3254.000000    0.7426  5000.000000   5000.000000